############################
# General Setup
############################

### APP #########################################################################################################

### App Path:
APP_PATH=/app

### Data Path:
# For all storage systems.

DATA_SAVE_PATH=/data

############################
# Containers Customization
############################

### APK #########################################################################################################
APK_BUILD="gcc g++ musl-dev cython-dev gfortran linux-headers lapack-dev python2-dev openssl-dev libx11-dev"
APK_RUNTIME="libstdc++ cython git openssl ca-certificates libx11"
APK_INTERACTIVE="nano bash tree"

### MINICONDA ###################################################################################################
CONDA_VERSION=4.3.27.1
CONDA_MD5_CHECKSUM=7efba9cbe774169e36695564f197becb
CONDA_DIR="/opt/conda"

### PYTHON ######################################################################################################
PYTHON_VERSION=2.7
PYTHON_VERSION_LONG=2.7.13
PYTHON_VERSION_SHORT=2

### PYTHON-PIP ##################################################################################################
PIP_VERSION=9.0.1
PIP_DEPS="numpy pandas scipy scikit-learn"

### FLAGS #######################################################################################################
CFLAGS=-I/usr/lib/python${PYTHON_VERSION}/site-packages/numpy/core/include
